<nav class="navbar fixed-top navbar-light navbar-expand flex-column flex-md-row bd-navbar" style="background-color: #3377ff">
                <%= link_to "Connor Wright", root_path, class:"navbar-brand", style:"color: black"%>
                <%= link_to "About Me",      "#",       class:"navbar-brand", style:"color: black"%>
                <%= link_to "Experience",    "#",       class:"navbar-brand", style:"color: black"%>
                <%= link_to "Skills",        "#",       class:"navbar-brand", style:"color: black"%>
                <%= link_to "Projects",      "#",       class:"navbar-brand", style:"color: black"%>
                <div class="navbar-nav right align-middle">
                       <%= link_to "Source Code", "https://github.com/connor-wright/resume-app", class:"nav-link", style: "color: black" %>
                       <%= link_to image_tag("GitHub-Mark-32px.png"), "https://github.com/connor-wright", class:"nav-link", style: "color: black"%> 
                </div>
</nav>
